<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div style="backgrounf: black; color:white; padding: 16px">
    NAVBAR
    <%= link_to "HOME", root_path, style: "color: yellow" %>
    <%= link_to "ABOUT", about_path, style: "color: yellow" %>
  </div>
    <%= yield %>
  </body>
</html>
